# Ignore node_modules
node_modules/

# Ignore build outputs
android/app/build/
ios/build/

# Ignore APK files
*.apk

# Ignore large .so files
*.so

# Ignore other large files
path/to/large/file_or_directory/
